@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Programming Club</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Technologies</h2>
        <p>
            MVC project developed using the following technologies:
            <ul>
                <li>C#</li>
                <li>Linq to SQL</li>
                <li>MSSQL Database</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Tools</h2>
        <p>
            <ul>
                <li>Visual Studio Community</li>
                <li>SQL Management Studio</li>
                <li>Notepad++</li>
            </ul>
        </p>  
    </div>
    <div class="col-md-4">
        <h2>Source Control</h2>
        <p>GitHub</p>   
    </div>
</div>