@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align: center; color: #64485C">Programming Club</h1>
</div>

<div class="row">
    <div class="col-md-4" style="text-align: center; color: #64485C">
        <h2>Technologies</h2>
        <p>
            <ul style="list-style-type: none;">
                <li>C#</li>
                <li>Linq to SQL</li>
                <li>MSSQL Database</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4" style="text-align: center; color: #64485C;">
        <h2>Tools</h2>
        <p>
            <ul style="list-style-type: none;">
                <li>Visual Studio Community</li>
                <li>SQL Management Studio</li>
                <li>Notepad++</li>
            </ul>
        </p>  
    </div>
    <div class="col-md-4" style="text-align: center; color: #64485C">
        <h2>Source Control</h2>
        <p><a href="https://github.com/oanap11">GitHub</a></p>   
    </div>
</div>