<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
		<add name="clubmembershipConnectionStringTest" 
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\oana.pavel\source\repos\ProgrammingClub2\ProgrammingClub2.Tests\TestDb\clubmembershiptests.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />

    </connectionStrings>
</configuration>
